{% extends 'car/base.html' %}
{% load static %}

{% block content %}

<main id="main">

    <section>
        <h1 class="mb-4">The easy way to manage your car</h1>
        <ul class="fa-ul">
            <li><span class="fa-li"><i class='fas fa-check'></i></span>Keeps basic vehicle information</li>
            <li><span class="fa-li"><i class='fas fa-check'></i></span>Stores vehicle service/repair records</li>
            <li><span class="fa-li"><i class='fas fa-check'></i></span>Provides vehicle maintenance schedules</li>
            <li><span class="fa-li"><i class='fas fa-check'></i></span>Alerts vehicle safety recalls</li>
            <li><span class="fa-li"><i class='fas fa-check'></i></span>Locates nearby service shops</li>
        </ul>

        <a href="{% url 'register-page' %}" id="get-start-btn">Get Started</a>
        
    </section>

    <div id="car-img-sect">
        <img src="{% static 'car/images/car-manage1.png' %}" alt="Car Management" id="car-img">
    </div>

</main>


{% endblock content %}
