{% extends 'car/base.html' %} 
{% load static %} 
{% block content %}

<div id="home-main">
<div class="mx-auto" id="heading">
  <h1>The easy way to manage your car</h1>
</div>
<main id="main">
  <section>
    <ul class="fa-ul">
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>Keeps basic
        vehicle information
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>Stores vehicle
        service/repair records
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>Provides vehicle
        maintenance schedules
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>Alerts vehicle
        safety recalls
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>Locates nearby
        service shops
      </li>
    </ul>

    <div id="get-started">
      <a href="{% url 'register-page' %}" id="get-start-btn">Get Started</a>
    </div>
  </section>

  <div id="car-img-sect">
    <img
      src="{% static 'car/images/car-manage1.png' %}"
      alt="Car Management"
      id="car-img"
    />
  </div>
</main>
</div>

<footer>
  <p>
    Created by Nairu Guan
    <span class="ml-2"
      ><a href="http://github.com/angie313"
        ><i class="fab fa-github-square fa-lg text-dark"></i></a
    ></span>
    <span class="ml-2"
      ><a href="http://linkedin.com/in/nairu-guan"
        ><i class="fab fa-linkedin fa-lg text-primary"></i></a
    ></span>
  </p>
</footer>

{% endblock content %}
