{% extends 'car/base.html' %}
{% load crispy_forms_tags %}

{% block nav_login %}{% endblock nav_login %}

{% block content %}

<div class="main-sect">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary my-2">Login</button>
        </div>
    </form>
    <div class="border-top py-3 text-center">
        Need an Account? <a href="{% url 'register-page' %}" class="ml-2">Register</a>
    </div>
</div>

{% endblock content %}