{% extends 'car/base.html' %}
{% load crispy_forms_tags %}

{% block nav_register %}{% endblock nav_register %}

{% block content %}

<div class="main-sect">
    <form method="POST" id="reg-form">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Register</legend>
            {{ reg_form|crispy }}
            
        </fieldset>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
        <hr>
        <p class="text-muted text-center">
            Already have an account? <a href="{% url 'login-page' %}">Sign In</a>
        </p>
    </form>

    <section>
        
    </section>
    

</div>

{% endblock content %}