/* html {
  height: 100%vh;
} */

body {
  background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%)
    fixed;
  padding: 0px;
  margin: 0px;
}

/* Navigation */
#top-nav {
  width: 75%;
  margin: 10px auto;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top-nav label,
#hamburger {
  display: none;
}

#logo-side i {
  margin: 30px 0px 0px 20px;
}

#logo-side img:hover {
  box-shadow: 8px 5px 8px black;
}

#top-nav ul {
  margin-bottom: 0px;
}

#top-nav li {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-left: 1em;
}

.login-reg-link {
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8em;
  color: black;
  border-bottom: 2px solid blue;
  transition: all 0.2s;
}

.login-reg-link:hover {
  color: white;
  background-color: #0f51be;
  border: none;
  border-radius: 0.5em;
  text-decoration: none;
}

.icon-link {
  color: black;
}

.icon-link:hover {
  color: rgb(37, 139, 68);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
/* end navigation */

/* landing page (home.html) */
#main {
  width: 75%;
  margin: 5px auto;
  display: flex;
  padding-top: 5rem;
  justify-content: space-around;
}

#get-start-btn {
  margin-left: 40%;
  color: white;
  background-color: black;
  padding: 1rem 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0.5em;
}

#get-start-btn:hover {
  text-decoration: none;
  background-color: rgb(5, 140, 5);
  color: White;
  box-shadow: 0 0 20px black;
}

#car-img-sect {
  display: flex;
  justify-content: center;
  align-items: center;
}

#car-img {
  display: block;
  width: 80%;
}

h1 {
  font-family: "Roboto", sans-serif;
}

.fa-ul {
  margin-bottom: 60px;
}

.fa-ul li {
  list-style-type: none;
  margin-bottom: 20px;
  font-size: 25px;
  font-style: italic;
}

.fa-check {
  margin-right: 1em;
}
/* end landing page (home.html) */

/* registration page */
.main-sect {
  width: 35%;
  margin: 3rem auto;
}

#reg-form button {
  width: 100%;
}

/* #reg-form fieldset {
  padding: 1rem;
  border-right: 2px solid #1e5c9ade;
} */

.asteriskField {
  display: none;
}
/* end registration-page */

/* login page*/
#login-form button {
  width: 100%;
}

/* --------- */

.car-btn {
  min-height: 80px;
  word-wrap: break-word;
}

/* ---------- */
.material-icons.md-60 {
  font-size: 60px;
}

#map {
  height: 500px;
}

/* media queries */
@media only screen and (max-width: 720px) {
  /* show hamburger label */
  #top-nav label {
    display: inline-block;
    color: black;
    font-size: 1.2em;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 0;
  }

  /* set li back to normal block */
  #nav-items li {
    display: inline-block;
    margin: 0.5em 0 0.5em 0.3em;
  }

  .icon-link {
    margin-left: 0.3em;
  }

  .login-reg-link {
    padding: 0.5em;
    color: black;
    border-bottom: none;
    margin: 0.5em 0 0.5em 0.2em;
  }

  /* hide ul section */
  #nav-items {
    display: none;
  }

  /* toggle the hamburger to show ul section */
  #top-nav input:checked ~ #nav-items {
    display: block;
    position: absolute;
    text-align: right;
    top: 70px;
    right: 15%;
  }

  /* hide car maint. image */
  #car-img-sect {
    display: none;
  }
}

@media only screen and (max-width: 520px) {
  #logo-side i {
    display: none;
  }
}
