#body {
  background-color: #d4e0e4;
  padding: 0px;
  margin: 0px;
}

/* Navigation */
#top-nav {
  width: 75%;
  margin: 10px auto;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

#logo-side i {
  margin: 30px 0px 0px 20px;
}

#logo-side img:hover {
  box-shadow: 8px 5px 8px black;
}

nav ul {
  margin-bottom: 0px;
  padding: 1rem;
}

nav li {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-left: 1em;
  margin-top: 5px;
}

.login-reg-link {
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8em;
  color: black;
  border-bottom: 2px solid blue;
  transition: all 0.2s;
}

.login-reg-link:hover {
  color: white;
  background-color: #0f51be;
  border: none;
  border-radius: 0.5em;
  text-decoration: none;
}

.icon-link {
  color: black;
}

.icon-link:hover {
  color: rgb(37, 139, 68);
}

/*  */

#main {
  padding-top: 5rem;
}

h1 {
  font-family: "Roboto", sans-serif;
}

#car-img {
  width: 95%;
  height: auto;
  padding-top: 50px;
}

.fa-ul li {
  list-style-type: none;
  margin-bottom: 20px;
  font-size: 25px;
  font-style: italic;
}

.fa-check {
  margin-right: 1em;
}

/* --------- */

.main-sect {
  width: 35%;
  margin: 80px auto;
}

/* --------- */

.car-btn {
  min-height: 80px;
  word-wrap: break-word;
}

/* ---------- */
.material-icons.md-60 {
  font-size: 60px;
}

#map {
  height: 500px;
}
