:root {
  --main-margin: 3rem auto;
}

body {
  background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%)
    fixed;
  min-height: 100%;
}

/* Navigation */
#top-nav {
  width: 75%;
  margin: 10px auto;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top-nav label,
#hamburger {
  display: none;
}

#logo-side i {
  margin: 30px 0px 0px 20px;
}

#logo-side img:hover {
  box-shadow: 8px 5px 8px black;
}

#top-nav ul {
  margin-bottom: 0px;
}

#top-nav li {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-left: 1em;
}

.login-reg-link {
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8em;
  color: black;
  border-bottom: 2px solid blue;
  transition: all 0.2s;
}

.login-reg-link:hover {
  color: white;
  background-color: #0f51be;
  border: none;
  border-radius: 0.5em;
  text-decoration: none;
}

.icon-link {
  color: black;
}

.icon-link:hover {
  color: rgb(37, 139, 68);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
/* end navigation */

/* landing page (home.html) */
#heading {
  width: 75%;
  margin-top: 2.5rem;
}

#main {
  width: 75%;
  margin: auto;
  display: flex;
  padding-top: 1rem;
  justify-content: space-around;
}

#get-started {
  text-align: center;
}

#get-start-btn {
  color: white;
  background-color: black;
  padding: 1rem 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0.5em;
}

#get-start-btn:hover {
  text-decoration: none;
  background-color: rgba(35, 77, 218, 0.829);
  box-shadow: 0 0 20px black;
  word-wrap: break-word;
}

#car-img-sect {
  display: flex;
  justify-content: center;
  align-items: center;
}

#car-img {
  display: block;
  width: 80%;
}

h1 {
  font-family: "Roboto", sans-serif;
}

.fa-ul {
  margin-bottom: 2.5rem;
}

.fa-ul li {
  list-style-type: none;
  margin-bottom: 20px;
  font-size: 25px;
  font-style: italic;
}

.fa-check {
  margin-right: 1em;
}

#carouselIndicators {
  width: 75%;
  margin: 4rem auto;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 0 10px rgb(31, 28, 28);
}

#carouselIndicators img {
  text-align: center;
  height: 700px;
}

#carouselIndicators span,
#carouselIndicators li {
  background-color: black;
  padding: 0.2rem;
}

footer {
  text-align: center;
  font-size: 18px;
  color: #262fd4b5;
}

/* end landing page (home.html) */

/* registration page */
.reg-sect {
  /* position: relative; */
  box-sizing: border-box;
  padding: 2rem;
  width: 75%;
  margin: var(--main-margin);
  display: flex;
  background-color: #fdf6fd;
  border-radius: 0.75rem;
  box-shadow: 0 0 15px #557ccd;
}

#reg-form,
#social-col {
  box-sizing: border-box;
  width: 50%;
}

#stack-social-view {
  display: none;
}

#reg-form fieldset {
  padding: 1.5rem;
}

#reg-form button {
  width: 100%;
  margin-top: 1rem;
}

.asteriskField {
  display: none;
}

#social-col {
  margin-left: 5%;
  padding: 7% 4% 0% 7%;
  border-left: thick double #1e5c9ade;
}

#social-col a {
  display: block;
}

#social-col p {
  margin: 2.5rem 0rem;
  font-size: 18px;
  font-style: italic;
}

#multi-cars {
  width: 24vw;
  height: 35vh;
  margin-left: 0.55rem;
}

/* end registration-page */

/* login page*/

.login-sect {
  box-sizing: border-box;
  width: 75%;
  margin: var(--main-margin);
  display: flex;
  background-color: #fdf6fd;
  border-radius: 0.75rem;
  box-shadow: 0 0 15px #557ccd;
}

#md-screen-top {
  display: none;
}

#left-col {
  position: relative;
  box-sizing: border-box;
  width: 45%;
}

#color-cars {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 4rem;
  width: 37vw;
  height: 43vh;
}

#login-form {
  box-sizing: border-box;
  padding: 3rem;
  width: 60%;
}

#login-form button {
  width: 100%;
}

#social-login {
  position: relative;
  border-top: thick double #668b4e;
  margin-top: 2rem;
  padding-top: 1rem;
  text-align: center;
}

#login-or {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3.5rem;
  text-align: center;
  padding: 6px 8px;
  background-color: #fdf6fd;
  font-size: 18px;
  color: #9cb3a7;
}

#need-acct {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

#need-acct a {
  color: #b94f4f;
}

/* end login page */

/* dashboard page */
.main-sect {
  margin: var(--main-margin);
  background-image: linear-gradient(
    to bottom,
    #fdf6fd,
    #f4ebfa,
    #e7e0f8,
    #d6d7f7,
    #c1cff6
  );
  padding: 3rem;
  box-shadow: 0 0 10px #151d2c;
  border-radius: 0.5rem;
}

.car-btn {
  min-height: 80px;
  word-wrap: break-word;
  color: white;
  text-transform: uppercase;
  background-color: rgba(61, 68, 114, 0.75);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.car-btn:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
}

.vin-error,
#yr-error,
#mk-error,
#md-error {
  color: red;
}
/* end dashboard */

/* car details page */
.nav-item {
  color: #203ff1;
  text-transform: uppercase;
  font-weight: 400;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active {
  background-color: #373334;
  color: #ece4e4;
  box-shadow: 0 0 5px rgba(53, 47, 47, 0.68);
  border: none;
}

#headingOne,
#all-records .card-header {
  background-color: #94969b7d;
  padding: 0.5rem;
}

#headingOne button,
#all-records button {
  color: black;
  font-size: 1rem;
}

#nav-recall h5 {
  width: max-content;
  border: 2px dotted red;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
/* end car details page */

/* password reset pages */
.pw-reset {
  width: 50%;
  margin: var(--main-margin);
  padding: 2.5rem;
  background-color: #fdf6fd;
  border-radius: 0.75rem;
  box-shadow: 0 0 15px #557ccd;
}

.reset-alert {
  margin: var(--main-margin);
}

.reset-alert a {
  text-decoration: underline;
}

/* ---------- */
.material-icons.md-60 {
  font-size: 60px;
}

#map {
  height: 500px;
}
